.room-detail_container {
    display: flex;
    flex-direction: column;
}

.room-image {
    width: 250px;
    height: 170px;
    justify-content: center;
    margin-top: 20px;
}

.room-detail_description {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-auto-rows: 0.25fr 0.1fr 0.1fr;
    max-width: 250px;
    background-color: white;
    border-bottom: 3px solid #146A20;
}

.room-title {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    padding-right: 10px;
    padding-left: 5px;
    color: #343133;
    margin-bottom: 0;
}

.room-price {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin: 0;
    background: #2c2c2c;
    max-width: 32px;
    border-radius: 20px;
    padding: 2px 12px;
    margin-right: 20px;
    color: #f09218;
    font-size: 15px;
}

.room-button {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-top: 7px;
    margin-bottom: 10px;
    padding: 5px;
    text-decoration: none;
    background-color: #3d9f31;
    border: none;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
}

.room-button:hover{
    border-bottom: 4px solid #146A20;
}