.header_container {
    background-color: white;
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    z-index: 1;
}

.header_logo {
    width: 200px;
    height: 70px;
    margin-left: 25px;
    margin-top: 2px;
}

.header-links_container {
    display: none;
}

.header_links {
    font-size: 1px;
}


@media (min-width: 768px) {

    .header_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header_logo {
        margin-left: 50px;
    }

    .header-links_container {
        display: block;
        margin-top: 25px;
        margin-right: 75px;
    }

    .header_links {
        text-decoration: none;
        font-size: 18px;
        line-height: 20px;
        margin: 20px;
        color: #a2a2a2;
    }

    .header_links:hover {
        color: #146A20;
    }
    
    .links-divider {
        color: #a2a2a2;
    }

}